In [4]:
import pandas as pd

df = pd.read_csv("/home/scholar/Documents/DOCS/AIDE/CSR302 DEXP/Sales.csv")

In [5]:
df.describe()

,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After
count,8478.000000,9233.000000,8330.000000,8360.000000
mean,203.716998,280.457952,70.252076,73.872593
std,55.273059,85.659543,16.957010,18.128351
min,24.852966,32.414352,22.202441,18.224938
25%,166.629232,221.436990,56.365513,59.925030
50%,203.323607,273.129170,69.490898,73.844594
75%,238.809147,332.570108,83.426798,90.044365
max,545.422547,818.219997,100.000000,100.000000

In [6]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Group                         8599 non-null   object
 1   Customer_Segment              8034 non-null   object
 2   Sales_Before                  8478 non-null   float64
 3   Sales_After                   9233 non-null   float64
 4   Customer_Satisfaction_Before  8330 non-null   float64
 5   Customer_Satisfaction_After   8360 non-null   float64
 6   Purchase_Made                 9195 non-null   object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB
None
       Group Customer_Segment  Sales_Before  Sales_After  \
0    Control       High Value    240.548359   300.007568
1  Treatment       High Value    246.862114   381.337555
2    Control       High Value    156.978084   179.330464
3    Control     Medium Value    192.126708   229.278031
4        NaN       High Value    229.685623          NaN

   Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
0                     74.684767                          NaN            No
1                    100.000000                   100.000000           Yes
2                     98.780735                   100.000000            No
3                     49.333766                    39.811841           Yes
4                     83.974852                    87.738591           Yes

In [2]:
from statsmodels.imputation.mice import MICEData
from scipy import stats
import numpy as np

In [7]:
#missing value indicators
df['Customer_Satisfaction_After_missing'] = df['Customer_Satisfaction_After'].isnull().astype(int)
df['Sales_Before_missing'] = df['Sales_Before'].isnull().astype(int)

# Display how many missing values exist
print("\nüîç Missing Value Counts:")
print(df[['Customer_Satisfaction_After_missing', 'Sales_Before_missing']].sum())

üîç Missing Value Counts:
Customer_Satisfaction_After_missing    1640
Sales_Before_missing                   1522
dtype: int64

In [8]:
 #Perform Chi-square Test
from scipy.stats import chi2_contingency
# Create a contingency table
contingency_table = pd.crosstab(df['Customer_Satisfaction_After_missing'], df['Sales_Before_missing'])

# Perform Chi-square test
chi2, p, dof, expected = chi2_contingency(contingency_table)

# Print results
print("\nüìä Chi-square Test Results:")
print(f"Chi2 Value: {chi2:.4f}, p-value: {p:.4f}, Degrees of Freedom: {dof}")

if p > 0.05:
    print("‚úÖ No significant relationship between missing values (p > 0.05)")
else:
    print("‚ö†Ô∏è Significant relationship found (p <= 0.05)")

üìä Chi-square Test Results:
Chi2 Value: 0.0954, p-value: 0.7574, Degrees of Freedom: 1
‚úÖ No significant relationship between missing values (p > 0.05)

In [9]:
#Handling Missing Values
# Fill categorical missing values with mode
for col in ['Group', 'Customer_Segment', 'Purchase_Made']:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Fill numerical missing values with median
for col in ['Sales_Before', 'Sales_After', 'Customer_Satisfaction_Before', 'Customer_Satisfaction_After']:
    df[col].fillna(df[col].median(), inplace=True)

print("\n‚úÖ Missing values handled successfully!")

‚úÖ Missing values handled successfully!

#Imputation,deletion,